.navbarFont {
  font-size: 12px;
  font-weight: 400;
  color: black;
  line-height: 16.39px;
  margin: 12.5px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #00aeef;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  color: #00aeef;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

p {
  text-align: justify;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  font-size: 16px;
  font-weight: 600;
  width: 221px;
  padding: 18px 64px 18px 64px;
  border-radius: 86px;
  border: 1px;
  background: #fff;
  border: 1px solid #1e1e1e;
}

.product_subtext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-bottom: 50px;
}

.products_img {
  position: relative;
}

.button_text {
  position: absolute;
  top: 90%;     
  left: 25%; 
  transform: translate(-50%, -50%);
  margin: 0 0 20px 25px;
  background-color: #000;
  border-radius: 83px;
  padding: 10px 40px;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
