:root {
  --color-primary-blue: #00aeef;
  --color-secondary: #d9d9d9;
  --color-grey: #f9f8f6;
  --color-brown: #313131;
  --color-dark: #1e1e1e;
  --default-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbarFont {
  font-size: 12px;
  font-weight: 400;
  color: black;
  line-height: 16.39px;
  margin: 12.5px;
  text-align: center;
}

.about h1 {
  margin: 0;
  color: var(--color-primary-blue);
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  font-family: var(--default-font);
}

.about p {
  text-align: justify;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  font-family: var(--default-font);
}

.about button {
  font-size: 16px;
  font-weight: 600;
  width: 221px;
  padding: 18px 64px 18px 64px;
  border-radius: 86px;
  border: 1px;
  background: #fff;
  border: 1px solid var(--color-dark);
}

.products h3 {
  color: var(--color-primary-blue);
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.products p {
  font-family: var(--default-font);
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-bottom: 50px;
}

.products_img {
  position: relative;
}

.button_text {
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin: 0 0 20px 25px;
  background-color: #000;
  border-radius: 83px;
  padding: 10px 40px;
  color: #fff;
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.banner_text {
  position: absolute;
  margin: 0 auto;
  left: 16.5%;
  text-align: left;
  width: 16.5%;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.78px;
  color: #fff;
  font-family: var(--default-font);
}

.banner_text span {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.18px;
  color: var(--color-primary-blue);
}

.blog h3 {
  color: var(--color-primary-blue);
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.blog p {
  font-family: var(--default-font);
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.blog_date {
  color: #000;
  font-family: var(--default-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  letter-spacing: 0em;
  text-align: left;
}

.blog_title {
  color: #000;
  font-family: var(--default-font);
  font-size: 28px;
  font-weight: 700;
  line-height: 38.25px;
  letter-spacing: 0em;
  text-align: left;
}

.blog_text {
  font-family: var(--default-font);
  color: #000;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.blog_link {
  color: var(--color-primary-blue);
  font-family: var(--default-font);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
}

.button_black {
  font-size: 16px;
  font-weight: 700;
  width: 155px;
  padding: 10px 30px 10px 30px;
  border-radius: 86px;
  border: 1px;
  color: #fff;
  background: var(--color-brown);
}

.faq {
  background-color: var(--color-grey);
}

.faq_title {
  font-family: var(--default-font);
  color: var(--color-primary-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.faq_text {
  color: var(--color-dark);
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.faq_list {
  background-color: #fff;
}

.faq_list_row {
  border-bottom: 1px solid var(--color-dark);
}

.faq_list_title {
  color: var(--color-dark);
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.faq_list_button {
  background-color: var(--color-secondary);
  color: #000;
  font-size: 12px;
  font-weight: 700;
  border-radius: 100%;
  padding: 0 8px 0 8px;
  border: none;
}

.footer {
  background-color: var(--color-dark);
}

.footer_address {
  color: var(--color-secondary);
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: justify;
}

.footer_hr {
  width: 50%;
  border: 1px solid #6f6f6f;
}

.footer_input{
  background-color: var(--color-dark);
  color: #fff;
  border: 1px solid #6f6f6f;
  border-radius: 8px;
  padding: 14px 14px 14px 15px;
  width: 75%;
  font-size: 12.5px;
  font-family: var(--default-font);
}

.footer_title {
  color: #fff;
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.footer_text {
  color: var(--color-secondary);
  font-family: var(--default-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.footer_text:hover {
  color: #fff;
}

@media screen and (min-width: 1750px) {
  .banner_text {
    left: 27.5%;
  }
}

@media screen and (max-width: 1200px) {
  .banner_text {
    font-size: 16px;
    line-height: 24px;
  }
  .banner_text span {
    font-size: 28px;
    line-height: 38px;
  }
}

@media screen and (max-width: 992px) {
  .banner_text {
    left: 22%;
    font-size: 14px;
    line-height: 18px;
  }
  .banner_text span {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .banner_text {
    left: 28%;
    font-size: 11px;
    line-height: 14px;
  }
  .banner_text span {
    font-size: 17px;
    line-height: 22px;
  }
}

@media screen and (max-width: 576px) {
  .banner_text {
    left: 17%;
    font-size: 11px;
    line-height: 12px;
  }
  .banner_text span {
    font-size: 14px;
    line-height: 15px;
  }
}

@media screen and (max-width: 465px) {
  .banner_text {
    left: 20%;
    font-size: 8px;
    line-height: 10px;
  }
  .banner_text span {
    font-size: 11px;
    line-height: 12px;
  }
}

@media screen and (max-width: 370px) {
  .banner_text {
    left: 23%;
    font-size: 6px;
    line-height: 9px;
  }
  .banner_text span {
    font-size: 8px;
    line-height: 11px;
  }
}
