:root {
  --color-primary-blue: #00aeef;
  --color-primary-blue-rgb: 0, 174, 239;
  --color-secondary: #d9d9d9;
  --color-grey: #f9f8f6;
  --color-brown: #313131;
  --color-dark: #1e1e1e;
  --color-dark-grey: #dfe5ef;
  --default-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background-color: var(--color-dark);
}

.header_address {
  font-family: var(--default-font);
  color: var(--color-primary-blue);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.navbarFont {
  font-size: 12px;
  font-weight: 400;
  color: black;
  line-height: 16.39px;
  margin: 12.5px;
  text-align: center;
}

.slider_header {
  background-color: rgba(var(--color-primary-blue-rgb), 0.9);
  position: absolute;
  top: 25%;
  left: 12.5%;
  padding: 40px;
  border-radius: 10px;
}

.slider_title {
  color: #fff;
  font-family: var(--default-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

.slider_button {
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 18px 40px 18px 40px;
  border-radius: 86px;
}

.about h1 {
  margin: 0;
  color: var(--color-primary-blue);
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  font-family: var(--default-font);
}

.about p {
  text-align: justify;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  font-family: var(--default-font);
}

.about button {
  font-size: 16px;
  font-weight: 600;
  width: 221px;
  padding: 18px 64px 18px 64px;
  border-radius: 86px;
  border: 1px;
  background: #fff;
  border: 1px solid var(--color-dark);
}

.products h3 {
  color: var(--color-primary-blue);
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.products p {
  font-family: var(--default-font);
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.products_image {
  object-fit: fill;
  min-width: 364px;
  min-height: 364px;
  max-height: 364px;
  width: 100%;
  height: auto;
}

.products_button {
  position: absolute;
  bottom: 6%;
  left: 5%;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  padding: 10px 20px;
  border-radius: 83px;
  border: 1px;
  color: #fff;
  background: var(--color-brown);
}

.button_text {
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin: 0 0 20px 25px;
  background-color: #000;
  border-radius: 83px;
  padding: 10px 40px;
  color: #fff;
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.banner_text {
  position: absolute;
  margin: 0 auto;
  left: 16.5%;
  text-align: left;
  width: 16.5%;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.78px;
  color: #fff;
  font-family: var(--default-font);
}

.banner_text span {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.18px;
  color: var(--color-primary-blue);
}

.blog h3 {
  color: var(--color-primary-blue);
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.blog p {
  font-family: var(--default-font);
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.blog_date {
  color: #000;
  font-family: var(--default-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
  letter-spacing: 0em;
  text-align: left;
}

.blog_title {
  color: #000;
  font-family: var(--default-font);
  font-size: 28px;
  font-weight: 700;
  line-height: 38.25px;
  letter-spacing: 0em;
  text-align: left;
}

.blog_text {
  font-family: var(--default-font);
  color: #000;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.blog_link {
  color: var(--color-primary-blue);
  font-family: var(--default-font);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
}

.button_black {
  font-size: 16px;
  font-weight: 700;
  width: 155px;
  position: relative;
  padding: 10px 30px 10px 30px;
  border-radius: 86px;
  border: 1px;
  color: #fff;
  background: var(--color-brown);
}

.video_title {
  font-family: var(--default-font);
  color: var(--color-primary-blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.video_text {
  color: var(--color-dark);
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.faq_list {
  background-color: #fff;
}

.faq_list_row {
  border-bottom: 1px solid var(--color-dark);
}

.faq_list_title {
  color: var(--color-dark);
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.faq_list_button {
  background-color: var(--color-secondary);
  color: #000;
  font-size: 12px;
  font-weight: 700;
  border-radius: 100%;
  padding: 0 8px 0 8px;
  border: none;
}

.footer {
  background-color: var(--color-dark);
}

.footer_address {
  color: var(--color-secondary);
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: justify;
}

.footer_hr {
  width: 50%;
  border: 1px solid #6f6f6f;
}

.footer_input {
  background-color: var(--color-dark);
  color: #fff;
  border: 1px solid #6f6f6f;
  border-radius: 8px;
  padding: 14px 14px 14px 15px;
  width: 75%;
  font-size: 12.5px;
  font-family: var(--default-font);
}

.footer_title {
  color: #fff;
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.footer_text {
  color: var(--color-secondary);
  font-family: var(--default-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.footer_text:hover {
  color: #fff;
}

.footer_alt {
  background-color: var(--color-dark-grey);
}

.footer_alt_text {
  font-family: var(--default-font);
  color: var(--color-dark);
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.footer_alt_text:hover {
  color: #6f6f6f;
}

.footer_alt_cpy {
  font-family: var(--default-font);
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: end;
}

@media screen and (min-width: 1750px) {
  .banner_text {
    left: 27.5%;
  }
}

@media screen and (max-width: 1440px) {
  .slider_header {
    top: 20%;
    left: 12.5%;
  }
  .slider_title {
    font-size: 44px;
    line-height: 54px;
  }
}

@media screen and (max-width: 1200px) {
  .slider_header {
    top: 15%;
    left: 12.5%;
  }
  .slider_title {
    font-size: 32px;
    line-height: 42px;
  }
  .slider_button {
    font-size: 14px;
    padding: 16px 38px 16px 38px;
  }
  .products_image {
    min-width: 100%;
    min-height: auto;
  }
  .products_button {
    bottom: 5.5%;
    left: 4%;
    font-size: 13px;
    padding: 8px 14px;
  }
  .banner_text {
    font-size: 16px;
    line-height: 24px;
  }
  .banner_text span {
    font-size: 28px;
    line-height: 38px;
  }
}

@media screen and (max-width: 992px) {
  .slider_header {
    padding: 30px;
  }
  .slider_title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .slider_button {
    font-size: 12px;
    padding: 14px 36px 14px 36px;
  }
  .products_button {
    bottom: 5.5%;
    left: 4%;
    font-size: 10px;
    padding: 5px 10px;
  }
  .banner_text {
    left: 22%;
    font-size: 14px;
    line-height: 18px;
  }
  .banner_text span {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .slider_header {
    padding: 25px;
  }
  .slider_title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 25px;
  }
  .slider_button {
    font-size: 11px;
    padding: 14px 34px 14px 34px;
  }
  .products_button {
    bottom: 6%;
    left: 5%;
    font-size: 16px;
    padding: 10px 16px;
  }
  .banner_text {
    left: 28%;
    font-size: 14px;
    line-height: 16px;
  }
  .banner_text span {
    font-size: 23px;
    line-height: 24px;
  }
}

@media screen and (max-width: 576px) {
  .slider_header {
    padding: 20px;
  }
  .slider_title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .slider_button {
    font-size: 10px;
    padding: 10px 30px 10px 30px;
  }
  .products_button {
    bottom: 6%;
    left: 5%;
    font-size: 13px;
    padding: 8px 14px;
  }
  .banner_text {
    left: 17%;
    font-size: 14px;
    line-height: 14px;
  }
  .banner_text span {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 465px) {
  .slider_header {
    padding: 15px;
  }
  .slider_title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .slider_button {
    font-size: 8px;
    padding: 8px 28px 8px 28px;
  }
  .banner_text {
    left: 20%;
    font-size: 12px;
    line-height: 13px;
  }
  .banner_text span {
    font-size: 17px;
    line-height: 17px;
  }
}

@media screen and (max-width: 370px) {
  .slider_header {
    padding: 12.5px;
  }
  .slider_title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .slider_button {
    font-size: 8px;
    padding: 6px 20px 6px 20px;
  }
  .products_button {
    bottom: 6.5%;
    left: 4%;
    font-size: 10px;
    padding: 5px 10px;
  }
  .banner_text {
    left: 23%;
    font-size: 10px;
    line-height: 11px;
  }
  .banner_text span {
    font-size: 15px;
    line-height: 14px;
  }
}

@media screen and (max-width: 330px) {
  .slider_header {
    padding: 10px;
  }
  .slider_title {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  .slider_button {
    font-size: 7.5px;
    padding: 6px 12px 6px 12px;
  }
  .products_button {
    bottom: 6.5%;
    left: 4%;
    font-size: 8px;
    padding: 3px 6px;
  }
  .banner_text {
    left: 23%;
    font-size: 7.5px;
    line-height: 9px;
  }
  .banner_text span {
    font-size: 12px;
    line-height: 10px;
  }
}

@media screen and (max-width: 260px) {
  .slider_header {
    padding: 8px;
  }
  .slider_title {
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 6px;
  }
  .slider_button {
    font-size: 5px;
    padding: 4px 8px 4px 8px;
  }
}
